.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #337f83;
  height: 100vh;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.section-part {
  display: flex;
  align-items: flex-end;
}

.submit {
  max-width: 150px;
}
